body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}


section {
    padding: 2rem;
}

.hero {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.feature {
    flex: 0 1 300px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color:black;
    color: white;
    text-align: center;
    padding: 2rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.contact-details,
.follow-us,
.about-us {
    flex: 1;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.social-icons a {
    text-decoration: none;
    color: white;
}

/* Adjust the size and styles of the images as needed */
.social-icons img {
    width: 30px; /* Set the desired width */
    height: auto;
    border-radius: 50%; /* Make the images circular */
}

#project-alert{
    text-align: center;
    background-color: red;
    color: white;
}

/* styles for desktop devices */
@media only screen and (min-width: 992px) {
    #author-details{
        display: flex;
        }
  }
  
  /* styles for tablet devices */
  @media only screen and (min-width: 768px) and (max-width: 991px) {

  }
  
  /* styles for mobile devices */
  @media only screen and (max-width: 767px) {

  }

  button{
   background-color: #009688!important
  }